# Core LangChain and LangGraph
langchain==0.2.6
langgraph==0.0.67
langchain-openai==0.1.9
langchain-community==0.2.6

# Vectorstore
langchain-chroma==0.1.2
chromadb==0.5.3

# Embeddings & Models
langchain-huggingface==0.0.3
sentence-transformers==2.7.0
torch==2.3.1
transformers==4.41.2
accelerate==0.31.0
safetensors==0.4.3
bitsandbytes==0.43.1

# Web Backend
fastapi==0.111.0
uvicorn==0.30.1
starlette==0.37.2
python-multipart==0.0.9
Jinja2==3.1.4
websockets==12.0

# Utilities
langchain-text-splitters==0.2.2
langsmith==0.1.83
pydantic==2.7.4
pypdf==4.2.0
python-dotenv==1.0.1
tiktoken==0.7.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0
datasets==2.19.2
py-cpuinfo==9.0.0
psutil==5.9.8
nest-asyncio==1.6.0
pyyaml==6.0.1
